/*This is my SSB Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my SSB Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/rocks-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	
}

/*start of center*/

.center {
    width: 800px;
	height: 850px;
	padding: 0%;
    margin: 20px;
	margin-top: 60px;
 	background: rgba(61, 62, 62, 0.75); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 4px double white;
}
   
#logo {
    margin-bottom: 16px;
	border: 3px dashed red;
	text-align: center;
}

h1 {
	font-family: 'Lexend Peta', sans-serif;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: #fff;
}

h2 {
	font-family: 'Lexend Peta', sans-serif;
	font-size: 1.5em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    margin: 0px auto 20px auto;
}

p {
	
	font-family: 'Lexend Peta', sans-serif;
	font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
	padding: 2%
}

/* end of center */

.contacts ul{
	margin-left: 20;
}
.ArticleTypes li{
	top:0; right:0; left:0;
}
nav {
	margin:  20px auto;
  }
   
  ul {
	border: 1px solid #aaa;
	height: 35.3;
	margin-left: 25px;
	width: 800px;
	height: 50px;
	background: rgba(61, 62, 62, 0.75); 
	overflow: auto;
	list-style-type: none;
  }
   
  li {
	
	float: left;
	margin: 12px 20px;
	
	
  }
   

  li a {
	
	margin: 12px 20px;
	text-decoration: none;
	color: #ccc;
	font: 25px/1 Helvetica, Verdana, sans-serif;
	text-transform: uppercase;
   
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
   
  li a:hover {
	color: #fff;
  }
   
  li.active a {
	font-weight: bold;
	color: #fff;
  }

  a {
	
  }